<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>PodReads: <%= title %></title>
  </head>
  <body>
    <nav>
      <a href="/" class="brand">
        <i class="fas fa-headphones"></i> 
        PodReads
      </a>
      <a href="/podcasts">
        <i class="fas fa-microphone-alt"></i> 
        My Podcasts</a>
      <a href="/podcasts/search">
        <i class="fas fa-search"></i> 
        Find Podcasts</a>
      <a href="/booklists">
        <i class="fas fa-book"></i> 
        My Books</a>
      <a href="/books/">
        <i class="fas fa-search"></i> 
        Find Books</a>
      <% if (user) { %>
        <a href="/auth/logout">Log Out</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
    </nav>