<%- include('partials/header') %>

<main class="splash">
<h1><i class="fas fa-headphones"></i> PodReads</h1>
<p>
  Keep track of the Guests who appear on your favorite Podcasts and the Books they've written.
</p>
  <% if (!user) { %>
  <p>
    <a href="/auth/google">Login to Continue</a>
  </p>
  <% } %>
</main>

</body>
</html>
