<%- include('../partials/header') %>

<h1>Followed Podcasts</h1>
<% if (podcasts) { %>
  <div class="card-container">
  <% podcasts.forEach(podcast => { %>
    <div class="my-podcast-card" style="background-image: url(<%= podcast.image %>)">
      <a href="/podcasts/<%= podcast.podcastId %>">
      </a>
    </div>
  <% }) %>
  </div>
<% } else { %>
<p>You have no followed podcasts, <a href="/podcasts/search">search for some!</a></p>
<% } %>
<%- include('../partials/footer') %>
